@import url("https://fonts.googleapis.com/css2?family=Overlock:wght@400;700;900&display=swap");

:root {
  --bg-dark: #333333;
  --color-light: #333333;
  --bg-light: #f0f8ff;
  --color-dark: #f0f8ff;
  --secondary-1: #519e8a;
  --secondary-2: #5e2bff;
  --secondary-3: #9649cb;
  --shadow-dark: rgba(51, 51, 51, 0.877);
  --shadow-light: rgba(240, 248, 255, 0.842);
  --s-1-light: rgba(81, 158, 138, 0.61);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* dark theme */

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: "Overlock", cursive;
  background: var(--bg-dark);
  cursor: crosshair;
}

.info-icon {
  color: var(--color-dark);
  font-size: 1.8rem;
  margin: 1rem;
  position: absolute;
  box-shadow: 0 0 3px 1px var(--shadow-light);
  border-radius: 50%;
  top: 1rem;
  right: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fullscreen {
  color: var(--color-dark);
  position: absolute;
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 2rem;
  right: 2rem;
  border-radius: 8px;
}

.info-icon:hover,
.fullscreen:hover {
  transform: scale(1.2);
  transition: all 0.1s ease-in-out;
  cursor: default;
}

.info-container {
  width: 350px;
  background: var(--secondary-1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1.5rem;
  box-shadow: 0 2px 8px 2px var(--shadow-light);
  display: none;
  font-weight: 900;
}

.active {
  display: block;
}

.active-tool {
  transform: translate(80%, 0);
  background: var(--s-1-light);
  border-radius: 10px;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 1rem;
  padding: 0.5rem;
}

.content i {
  display: inline-block;
  margin-left: 16.5rem;
  margin-top: -1.3rem;
  font-size: 1.5rem;
}

.content h1,
h3 {
  text-align: center;
  margin-bottom: 1rem;
}

.tray,
.penPallete {
  background: linear-gradient(var(--secondary-2), var(--secondary-3));
  border-radius: 1.2rem;
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  flex-direction: column;
  z-index: 3;
  box-shadow: -3px 1px 8px 2px var(--shadow-light);
  padding: 0.3rem;
}

.icon {
  position: relative;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 53px;
  height: 53px;
  transition: 0.2s ease-in-out;
  cursor: default;
  color: var(--color-dark);
}

.icon:hover {
  animation: shake 1s ease-in-out 1;
}

.toolInfo {
  position: absolute;
  font-size: 1rem;
  transform: translate(-50%, 0);
  left: 30%;
  text-align: center;
  font-family: "Overlock", cursive;
  padding: 0 1rem;
  opacity: 0;
  transition: 0.3s ease-in-out;
  font-weight: 900;
}

.icon:hover .toolInfo {
  opacity: 1;
  transform: translate(50%, 0);
}

#colorPicker {
  position: relative;
}
.color-picker {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  border: none;
  opacity: 0;
  border-radius: 50%;
}

.tray-swap {
  transform: translate(-100%, -50%);
}

/* for light theme */
.light {
  background: var(--bg-light);
}

.light .info-container {
  box-shadow: 0 2px 8px 2px var(--shadow-dark);
}

.light .info-icon {
  color: var(--color-light);
  box-shadow: 0 0 3px 1px var(--shadow-dark);
}

.light .tray {
  color: var(--color-dark);
  box-shadow: -3px 1px 8px 2px var(--shadow-dark);
}

.light .toolInfo {
  color: var(--color-light);
}

.light #colorPicker {
  color: var(--color-light);
}

/* animations */
@keyframes shake {
  25% {
    transform: rotate(-3deg);
  }
  50% {
    transform: rotate(4deg);
  }
  75% {
    transform: rotate(-4deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
